<!-- <h1>Angular Forms Development</h1>

{{ msg }} -->
<div>
  <h2>Template-Driven Form</h2>
<form #heroForm="ngForm" appIdentityRevealed>
  <div [hidden]="heroForm.submitted">
    <div class="cross-validation"[class.cross-validation-error]="heroForm.errors?.['identityRevealed'] &&(heroForm.touched || heroForm)">

  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      required
      minlength="4"
      appforbiddeName="bob"
      [(ngModel)]="bname"
      #name="ngModel">


  <div *ngIf="name.invalid && (name.dirty || name.touched)"
  class="alert">

  <div *ngIf="name.errors?.['required']">
  Name is required</div>
  <div *ngIf="name.errors?.['minlength']">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors?.['forbiddenName']">name cannot be Bob.
    </div>
  </div>
  </div>





  <div class="form-group">
    <label for="name">ISBN</label>
    <input
      type="text"
      id="isbn"
      name="isbn"
      class="form-control"
      required
      minlength="4"

      [(ngModel)]="bisbn"
      #isbn="ngModel">


  <div *ngIf="isbn.invalid && (isbn.dirty || isbn.touched)"
  class="alert">

  <div *ngIf="isbn.errors?.['required']">
  ISBN is required</div>
  <div *ngIf="isbn.errors?.['minlength']">
    ISBN must be at least 4 characters long.

    </div>
  </div>
  </div>

  <div class="form-group">
    <label for="name">Author</label>
    <input
      type="text"
      id="author"
      name="author"
      class="form-control"
      required
      minlength="4"

      [(ngModel)]="author"
      #author="ngModel">


  <div *ngIf="author.invalid && (author.dirty || author.touched)"
  class="alert">

  <div *ngIf="author.errors?.['required']">
    author is required</div>
  <div *ngIf="author.errors?.['minlength']">
    author must be at least 4 characters long.

    </div>
  </div>
  </div>


  <p>Complete the form to enable the submit button.</p>
  <button type="submit"
  [disabled]="heroForm.invalid">Submit</button>
  <button type="button" (click)="heroForm.resetForm({})">Reset</button>

  </div>
  </div>
</form>
